<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Griz</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css" >
</head>
<body>
  <section class="hero is-info is-large">
    <div class="hero-body">

        <ul class="">
            <li class="title">
            <a href="{% url 'grizIndex' %}">griz.sh/griz</a>
            </li>
            <li class="subtitle">
                <a href="https://tech.griz.sh">tech.griz.sh</a>
            </li>
            <li class="subtitle">
              <a href="{% url 'techIndex' %}">griz.sh/tech</a>
            </li>
        </ul>
    </div>

  </section>

</body>
</html>

