<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Entries</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css" >
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>

  </head>
  <body>

    <div class="section">
      <div class="content">

        <div class="level">
          <div class="level-left">
            <h1 class="level-item">From
              <input class="level-item" type="date"/>
              To
              <input class="level-item" type="date"/>
              <button class="level-item button">Any time</button>
            </h1>
          </div>


          <div class="level-right">
            <div class="checkboxes">
              <div class="block level-item content">
                {% for tag in tags %}
                <label class="checkbox">
                  <input type="checkbox"/>
                  <strong>{{ tag }}</strong>
                  {% endfor %}
                  <input type="checkbox"/> All Tags
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <p>I haven't figured out forms yet so... ignore above</p>
      <div class="is-flex is-justify-content-center is-align-items-center">
        <div class="buttons">
          <button class="button is-primary is-outlined is-medium"
                  hx-trigger="click"
                  hx-get="{% url 'techContent' %}"
                  hx-target="#contentBox"
                  hx-swap="innerHTML">
            All Content
          </button>

          {% for tag in tags %}
          <button class="button is-info"
                  hx-trigger="click"
                  hx-get="{% url 'techTag' tag.name %}"
                  hx-target="#contentBox"
                  hx-swap="innerHTML">
            {{ tag }}
          </button>

          {% endfor %}
        </div>
      </div>
    </div>


    <div class="container content" id="contentBox"></div>
