<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Entries</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css" >
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>

  </head>
  <body>
    {% load widget_tweaks %}

    <div class="section">
      <div class="content">



        <div class="container">
          <div class="is-flex is-justify-content-center is-align-items-center">
            <div class="buttons">
              <button class="button is-primary is-outlined is-medium"
                      hx-trigger="click"
                      hx-get="{% url 'grizContent' %}"
                      hx-target="#contentBox"
                      hx-swap="innerHTML">
                All Content
              </button>

              {% for tag in tags %}
              <button class="button is-info"
                      hx-trigger="click"
                      hx-get="{% url 'grizTag' tag.name %}"
                      hx-target="#contentBox"
                      hx-swap="innerHTML">
                {{ tag }}
              </button>

              {% endfor %}
            </div>
          </div>
          <div class="block">


            <form>
              <div class="">
                <label >Dog</label>
                {% render_field form.dog class="input select" %}
                <label>Tags:</label>
                <div class="checkboxes">
                  {% for checkbox in form.tags %}
                  <label class="checkbox">
                    {{ checkbox.tag }}
                    {{ checkbox.choice_label }}
                  </label>
                  {% endfor %}
                </div>
                <label>Not ready for date:</label>
                {% render_field form.date class="input " %}
              </div>
              <button type="submit" class="button is-danger"> Future Submit! </button> 
              <div class="tags-grid">
            </form>
            <br>

            <div class="container content" id="contentBox">
              <h1 class="subtitle">Loading 3 most recent videos, select filter button or all content for more </h1>
              {% include "grizContent.html" %}
            </div>
              </div>
          </div>
